body {
  background: url(img/login_img.jpg);
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  padding-top: 70px;
  transition: 0.3s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #ffa500;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.brand {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 4%;
  width: 20%;
  font-size: 12px;
}

.brand .fa-cutlery {
  font-size: 35px;
}

.brand h1 {
  margin-left: 5%;
}

.navbar {
  position: relative;
  width: 70%;
  padding: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: -100px;
}

.navbar ul {
  width: 70%;
  text-align: center;
}

.navbar ul li {
  display: inline-block;
  margin-left: 4%;
  transition: all 0.5s ease;
  text-align: center;
  cursor: pointer;
  padding: 1%;
  height: 18px;
  overflow: hidden;
}

.navbar ul li:hover {
  height: 40px;
}

.navbar ul li #headIcon {
  display: block;
  font-size: 24px;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.navbar ul li a:active,
:focus {
  text-decoration: underline;
  font-weight: 700;
}

#menuIcon {
  display: none;
}

@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    margin-top: 80px;
  }

  .brand h1 {
    font-size: 12px;
  }

  .navbar {
    position: relative;
    display: block;
    width: 75%;
    display: none;
    top: 70px;
  }
  .navbar.navactive {
    display: inline;
  }

  #menuIcon {
    display: inline;
    position: fixed;
    font-size: 24px;
    margin-left: 88%;
    z-index: 222;
    float: right;
    padding: 1%;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgb(221, 221, 221);
  }

  .navbar ul {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgb(37, 42, 94);
  }

  .navbar ul li {
    display: block;
    margin-top: 20px;
    width: 100%;
    height: 40px;
    text-align: left;
    position: relative;
    top: 20px;
    padding: 2%;
  }

  .navbar ul li #headIcon {
    display: inline-block;
    font-size: 33px;
  }

  .navbar ul li:hover {
    background: rgb(35, 36, 51);
  }

  .navbar ul li a {
    margin-left: 40px;
    font-family: 600;
  }
}

/*Login*/
#loginform {
  width: 320px;
  margin-left: 80px;
}

.login {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  width: 500px;
  margin: 100px auto 100px auto;
  padding: 30px 50px 50px;
}

.sunwaylabel {
  display: flex;
  margin-top: 50px;
  font-size: 18px;
}

.passwordlabel {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

#loginform input {
  width: 100%;
  padding: 10px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
  margin-top: 10px;
  text-decoration: none;
}

#loginform input:focus {
  border-color: #db8d34;
  border-bottom-width: 2px;
}

.loginbtn {
  width: 340px !important;
  height: 35px;
  margin-top: 20px !important;
  border: none;
  background: -webkit-linear-gradient(right, #724d0b, #f5af23);
  text-transform: uppercase;
  transition: 0.4s, color 0.4s, transform 0.4s;
  color: white;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
}

.loginbtn:hover {
  color: rgb(14, 13, 13);
  background: -webkit-linear-gradient(right, #f5a910, #724d0b);
}

.psignup {
  margin-left: 100px;
}

.psignup a {
  text-decoration: none;
  color: #0000ff;
  margin-left: 10px;
}

.psignup a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  margin-top: 10px;
  margin-bottom: -5px;
}

/*moblie web*/
/*Login*/
@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    margin-top: 80px;
  }

  .login h1 {
    font-size: 25px;
  }
  .login {
    width: 300px;
  }

  #loginform {
    width: 300px;
    margin-left: 0px;
  }

  .loginbtn {
    width: 600px;
  }
}

/*Sign Up*/
.signup {
  background: #fff;
  width: 700px;
  padding: 40px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  margin: 50px auto 100px auto;
}

.signup h1,
h4 {
  text-align: center;
  margin-top: -10px;
}

.signup .data {
  margin: 20px 0;
}

.signup-label {
  display: block;
  margin-bottom: 5px;
}

#registerform {
  padding: 0px 20px 0px 20px;
}

#registerform input {
  width: 95%;
  padding: 10px;
  padding-left: 10px;
  border: 1px solid gray;
  outline: none;
  margin-top: 5px; /* Adjust margin as needed */
  border: 1px solid silver;
  font-size: 17px;
  text-decoration: none;
}

/* Style for gender radio buttons */
.gender-radio {
  margin-bottom: 15px;
}

.gender-radio label {
  margin-right: 10px;
}

.gender-radio input[type="radio"] {
  display: none;
}

/* Custom styling for radio button appearance */
.gender-radio label {
  display: inline-block;
  cursor: pointer;
  padding: 7px 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 30px; /* Add margin between male and female labels */
}

/* Style for checked radio button */
.gender-radio input[type="radio"]:checked + label {
  background-color: #007bff;
  color: #fff;
}

#registerform input:focus {
  border-color: #db8d34;
  border-bottom-width: 2px;
}

/* Apply border-radius to all input elements inside .signup */
.signup input[type="text"],
.signup input[type="password"],
.signup input[type="email"],
.signup input[type="radio"],
.signup input[type="month"] {
  border-radius: 6px;
}

/* Additional styling for input elements */
.signup input[type="text"],
.signup input[type="password"],
.signup input[type="email"],
.signup input[type="text"],
.signup input[type="radio"] {
  width: 95%;
  padding: 10px;
  border: 1px solid gray;
  outline: none;
  margin-top: 5px;
  font-size: 17px;
  text-decoration: none;
}

#registerform input[type="submit"] {
  width: 98%;
  padding: 10px;
  border: none;
  background: -webkit-linear-gradient(right, #724d0b, #f5af23);
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px; /* Adjust margin as needed */
  text-transform: uppercase;
  transition: 0.4s, color 0.4s, transform 0.4s;
  font-weight: bold;
}

#registerform input[type="submit"]:hover {
  background: -webkit-linear-gradient(right, #f5a910, #724d0b);
  color: #2c2c2c;
}

.login-here {
  text-align: center;
}
.login-here a {
  text-decoration: none;
  color: #0000ff;
  margin-left: 10px;
}

.login-here a:hover {
  text-decoration: underline;
}

/*LSign Up*/
@media only screen and (max-width: 768px) {
  .signup {
    width: 300px;
  }
  .login h1 {
    font-size: 25px;
  }
  .login {
    width: 300px;
  }

  #loginform {
    width: 300px;
    margin-left: 0px;
  }

  .loginbtn {
    width: 600px;
  }
}

#registerform select {
  width: 98%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
  margin-top: 5px;
  font-size: 17px;
}

/* Style the dropdown arrow on hover */
#registerform select:hover {
  background-color: #f4f4f4; /* Change the background color on hover if needed */
}

#registerform select:focus {
  border-color: #db8d34;
  border-bottom-width: 2px;
}

/*--Footer--*/
.footer-container {
  background-color: #efefef;
  border: 2px solid;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  box-sizing: border-box;
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.icons .fa {
  color: #353030;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.fa-heart-o {
  color: #df1d88;
}

.footer-ul ul {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.footer-ul ul a {
  color: #353030;
  text-decoration: none;
}

.footer-ul ul li {
  text-align: center;
  transition: all 0.5s ease;
  cursor: pointer;
  padding: 1.85%;
  height: 5px;
  overflow: hidden;
  text-decoration: none;
}

.footer-ul ul li:hover {
  height: 20px;
  text-decoration: underline;
}

hr {
  width: 80%;
  margin: 20px auto;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
}

.footer-container {
  background-color: none;
  border: 2px solid;
  padding: 0;
  margin: 20px;
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: 0px 0px;
  }

  .footer h4 {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .footer-ul ul {
    list-style: none;
    width: 80%;
    padding: 0;
  }

  .footer-ul ul li {
    padding: 8px 0;
    height: auto;
    overflow: visible;
  }

  .icons .fa {
    margin: 0 8px;
    padding: 10px 0;
  }

  .footer p {
    text-overflow: initial;
    overflow: visible;
    white-space: normal;
  }
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 9999;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
