  /*Waiting Process*/
  .preparing {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; /* This ensures the section takes up the full height of the viewport */
    
  }
  
  .preparing__container {
    margin: 2rem;
    border: 2px solid #ccc;
    padding: 30px;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 300px;
    margin-top: 150px;
  }
  
  .preparing__container p{
    margin-top: -20px;
  }
  /*Receipt*/
  .receipt {
    margin: 2rem;
    margin-top: 60px;
  }
  
  .receipt__container {
    overflow-x: auto;
  }
  
  .receipt-box {
    border-radius: 10px;
    border: 1px solid #e2e8f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  #receipt-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  #receipt-table th,
  #receipt-table td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
  }
  
  #receipt-table th {
    background-color: #f8f9fa;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
  }
  
  #receipt-table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
  }
  
  #receipt-table tbody tr:hover {
    background-color: #e9ecef;
  }
  
  /*button*/
  .button{
    margin: 2rem 2rem 2rem 41rem;
  }
  .receipt__container .button{
    color: #2e0caa;
  }
  .order-received {
    background-color: #007bff; 
    color: white; 
    padding: 10px 20px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
  }
  
  .order-received:hover {
    background-color: #0056b3;
  }
  
  .cancel-button {
    background-color: #ff6347; /* Red color */
    font-size: 16px;
    padding: 10px 20px;
    border-radius:5px;
    text-decoration: none; 
    border: none; /* Remove border */
    cursor: pointer; /* Show pointer on hover */
  }
  .cancel-button a {
    text-decoration:none;
    color:white;

  }

  /* Hover effect */
  .cancel-button:hover {
    background-color: #d32f2f; /* Darker red on hover */
  }