/*Waiting Process*/
.preparing {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh; /* This ensures the section takes up the full height of the viewport */
  
}

.preparing__container {
  margin: 2rem;
  border: 2px solid #ccc;
  padding: 50px;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 300px;
  margin-top: 150px;
}

/*Receipt*/
.receipt {
  margin: 2rem;
  margin-top: 60px;
}

.receipt__container {
  overflow-x: auto;
}

.receipt-box {
  border-radius: 10px;
  border: 1px solid #e2e8f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#receipt-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#receipt-table th,
#receipt-table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

#receipt-table th {
  background-color: #f8f9fa;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
}

#receipt-table tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

#receipt-table tbody tr:hover {
  background-color: #e9ecef;
}

/*button*/
.button{
  margin: 2rem 2rem 2rem 40rem;
}
.receipt__container .button{
  color: #2e0caa;
}
.order-received {
  background-color: #007bff; 
  color: white; 
  padding: 10px 20px;
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}

.order-received:hover {
  background-color: #0056b3;
}

/*--Notification--*/
  .notification {
    position: fixed;
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    background-color: #f0f0f0;
    cursor:pointer;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure it appears above other content */
    }
    
    
    
  